$purple: rgb(117, 0, 92);

.header {
  font-size: xx-large;
  text-align: center;
  margin: 1% auto;
}

.table {
  margin: 1% auto;
  border-collapse: collapse;
  &__data,
  &__header__item {
    padding: 12px 15px;
    border: 1px solid rgb(192, 192, 192);
    text-align: center;
    font-size: 12px;
  }

  &__body > .table__row:nth-last-of-type(even) {
    background-color: rgba($color: #181818, $alpha: 0.1);
  }
  &__infoContainer {
    padding-left: 1%;
    width: 105%;
  }
}

.table__deleteButton {
  background-color: red;
  border: none;
  color: white;
  border-radius: 100px;
  transition: all ease 0.5s;
  &:active {
    background-color: rgb(197, 0, 0);
    border-radius: 100px;
  }
  &:focus {
    background-color: rgb(197, 0, 0);
  }
  &:hover {
    background-color: rgb(197, 0, 0);
    transform: translateY(-2px);
  }
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  width: 1px;
  height: 1px;
  &__down {
    transform: rotate(45deg);
    border-color: red;
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
  }
  &__up {
    transform: rotate(-135deg);
    border-color: rgb(0, 226, 0);
    -webkit-transform: rotate(-135deg);
  }

  &__green {
    color: green;
  }

  &__red {
    color: red;
  }

  &__black {
    color: black !important;
  }
}

.emptyText {
  font-size: xx-large;
  margin-top: 7%;
  text-align: center;
}

@media (min-width: 1400px) {
  .table {
    min-width: 80%;
    margin: 1% auto;
    &__data,
    &__header__item {
      font-size: larger;
    }
  }
}

@media (max-width: 800px) {
  .table {
    &__header {
      display: none;
    }
    &,
    &__body,
    &__row,
    &__data {
      display: block;
      width: auto;
    }
    &__row {
      margin-bottom: 15px;
    }
    &__data {
      text-align: right;
      padding-left: 0%;
      position: relative;
    }
    &__data::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }

  .svg {
    width: 25px;
    height: 25px;
  }
  .header {
    margin: 15% auto;
  }
  .lastInfoItem {
    padding-bottom: 40px;
  }
  .emptyText {
    margin-top: 17%;
  }
}
