$purple: rgb(117, 0, 92);

.wrapper {
  width: fit-content;
  margin: 0% auto;
}

.header {
  font-size: xx-large;
  text-align: center;
  margin: 1% auto;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  width: 1px;
  height: 1px;
  &__down {
    transform: rotate(45deg);
    border-color: red;
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
  }
  &__up {
    transform: rotate(-135deg);
    border-color: rgb(0, 226, 0);
    -webkit-transform: rotate(-135deg);
  }

  &__green {
    color: green;
  }

  &__red {
    color: red;
  }

  &__black {
    color: black !important;
  }
}

.emptyText {
  font-size: xx-large;
  margin-top: 7%;
  text-align: center;
}

@media (max-width: 800px) {
  .wrapper {
    width: auto;
    margin: 0% auto;
  }
  .svg {
    width: 25px;
    height: 25px;
  }
  .header {
    margin: 15% auto;
  }
  .lastInfoItem {
    padding-bottom: 40px;
  }
  .emptyText {
    margin-top: 17%;
  }
}
