.modal__input {
  overflow-wrap: break-word;
  resize: none;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  color: #172b4d;
  width: calc(10% + 15vw);
  font-size: 14px;
  font-weight: 900;

  &_error {
    margin-top: 1%;
    color: red;
    font-size: smaller;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
.long {
  width: 50%;
}
