$white: white;
$purple: rgb(117, 0, 92);
$grey: rgb(126, 125, 125);

.paginationContainer {
  display: flex;
  margin-left: 2%;
  li {
    list-style-type: none;
    padding: 7px;
    border: 1.5px solid $grey;
    border-radius: 20px;
    height: 20px;
    margin-left: 1%;
    transition: all 0.5s linear;
  }
  a {
    text-decoration: none;
    padding: 5px;
    background-color: transparent;
  }

  a:active {
    color: $white;
  }
}

.currentPage {
  color: $white;
  background-color: $purple;
  transform: translateY(-3px);
}
