$white: white;
$purple: rgb(117, 0, 92);
$grey: rgb(126, 125, 125);

.paginationContainer {
  display: flex;
  margin-left: 2%;
  li {
    list-style-type: none;
    padding: 7px;
    border: 1.5px solid $grey;
    border-radius: 20px;
    height: 20px;
    margin-left: 1%;
    transition: all 0.5s linear;
  }
  a {
    text-decoration: none;
    padding: 5px;
    background-color: transparent;
  }

  a:active {
    color: $white;
  }
}

.nextprevButton {
  position: relative;
  cursor: pointer;
  padding-left: 5px;
  border: 2px solid transparent;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: none;
}

.nextprevButton:active {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  color: white;
}

.currentPage {
  color: $white;
  background-color: $purple;
  transform: translateY(-3px);
}
@media (max-width: 800px) {
  .paginationContainer {
    margin-left: 3%;
    li {
      padding: 1px;
      border-radius: 20px;
      height: 20px;
      margin-left: 1px;
      transition: all 0.5s linear;
    }
  }
  .nextprevButton {
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 350px) {
  .paginationContainer {
    visibility: hidden;
  }
  .nextprevButton {
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    width: 35px;
    height: 35px;
  }
}
