$purple: rgb(117, 0, 92);

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;

  &__body {
    text-align: center;
    background-color: rgba(225, 225, 225, 0.75);
    width: calc(25% + 15vw);
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }
  &__header {
    position: relative;
    border-bottom: 1px solid #ddd;
  }
}

.modal__buttons {
  display: flex;
  margin: 5% 25% 0% 25%;

  &__close {
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    height: 34px;
    background-color: rgb(177, 1, 1);
    border: 1px solid rgb(146, 0, 0);
    border-radius: 10px;
    color: white;
  }
  &__close:active {
    background-color: rgb(65, 0, 0);
  }
  &__submit {
    background: $purple;
    width: 200px;
    border: none;
    font-weight: 700;
    border-radius: 3px;
    color: #e6e6e6;
    margin: 7px 0 8px 8px;
    padding: 10px 14px 10px 8px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
  }
  &__submit:active {
    background: rgb(14, 3, 41);
  }
  &__submit:disabled {
    background: rgba(1, 0, 3, 0.13);
  }
}

.modal__input {
  overflow-wrap: break-word;
  resize: none;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  color: #172b4d;
  width: calc(10% + 15vw);
  font-size: 14px;
  font-weight: 900;

  &_error {
    margin-top: 1%;
    color: red;
    font-size: smaller;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

@media (max-width: 800px) {
  .modal__input {
    height: 30px;
    border-radius: 3px;
    font-family: inherit;
    color: #172b4d;
    width: calc(50% + 15vw);
    font-size: 14px;
    font-weight: 900;
  }
  .modal__body {
    margin-top: 5%;
    width: 100%;
    height: 80%;
  }
  .modal__header {
    font-size: medium;
  }
}
@media (max-width: 800px) and (orientation: portrait) {
  .modal__body {
    margin-top: 30%;
    padding-top: 90%;
  }
}
