$green: rgb(3, 189, 74);
$purple: rgba(117, 0, 92, 0.1);

.table {
  &__buttonContainer {
    margin: 5px auto;
    padding: 5px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-radius: 20px;
    justify-content: center;
    max-width: 1370px;
  }
}

@media (max-width: 350px) {
  .svg {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
}
