$green: rgb(3, 189, 74);

.table {
  // min-width: 1300px;
  width: 95%;
  margin: 1% auto;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid rgb(192, 192, 192);
  text-align: center;
  font-size: 12px;
}

@media (max-width: 800px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 99%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 0%;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .buttonContainer {
    margin: 1% auto;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 350px) {
  svg {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
}

.buttonContainer {
  margin: 5px auto;
  padding: 5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 20px;
  width: auto;
}

.red {
  color: red;
}
.green {
  color: $green;
}

tbody > tr:nth-last-of-type(even) {
  background-color: rgba($color: #181818, $alpha: 0.1);
}

.blackModal {
  background-color: black;
  width: 1000px;
  height: 900px;
}

.addToCartButton {
  background-color: transparent;
  border: 1px solid transparent;
}
