$green: rgb(0, 143, 55);

table {
  font-size: small;
  margin: 1% auto;
  border-collapse: collapse;
  min-width: 1200px;
}

table th {
  border: 1px solid rgb(192, 192, 192);
  border-bottom: 1px solid transparent;
  padding: 10px;
  font-weight: 400;
}
thead tr th {
  font-weight: 600;
}

.buttonContainer {
  margin: 1% auto;
  padding: 5px;
  display: flex;
  background-color: rgb(214, 214, 214);
  border: 1px solid transparent;
  border-radius: 20px;
  width: 520px;
}

.nextprevButton {
  position: relative;
  cursor: pointer;
  padding-left: 5px;
  border: 2px solid transparent;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: none;
}

.nextprevButton:active {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  color: white;
}

.red {
  color: red;
}
.green {
  color: $green;
}

tbody > tr:nth-last-of-type(even) {
  background-color: rgba($color: #181818, $alpha: 0.1);
}

.blackModal {
  background-color: black;
  width: 1000px;
  height: 900px;
}

.addToCartButton {
  background-color: transparent;
  border: 1px solid transparent;
}
