$purple: rgb(117, 0, 92);

.delete {
  background-color: red;
  border: none;
  color: white;
  transition: all ease 0.5s;
  &:active {
    background-color: rgb(197, 0, 0);
    border-radius: 100px;
  }
  &:focus {
    background-color: rgb(197, 0, 0);
  }
  &:hover {
    background-color: rgb(197, 0, 0);
    transform: translateY(-2px);
  }
}
.close {
  background: #fff;
  border: none;
  padding: 5px;
  color: $purple;
  &:active {
    background-color: $purple;
    color: #fff;
  }
}

.square {
  width: 60px;
  height: 34px;
  border-radius: 5px;
}
.round {
  border-radius: 100px;
}
