.header {
  &__body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid purple;
    background-color: black;
    margin: 0px auto;
  }

  &__cart {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 30px;
  }
  &__cartStatus {
    margin: 10px 0px 0px 10px;
  }
  &__logo {
    display: block;
    height: 30px;
    max-width: 30px;
    padding-right: 5px;
  }

  &__title {
    padding-top: 10px;
    margin: 0;
    color: rgb(155, 81, 204);
    font-size: medium;
  }
  &__left {
    display: flex;
    flex-grow: 1;
    margin-left: 30px;
  }
  &__topCoins {
    display: inline-flex;
    margin-left: 2%;
  }
}

.topCoins {
  &__body {
    margin-left: 3%;
    margin-top: 5px;
  }
  &__text {
    color: azure;
    font-size: 12px;
    margin: 0%;
  }

  &__arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    padding: 2px;
    width: 3px;
    height: 1px;
  }
  &__arrow_down {
    transform: rotate(45deg);
    border-color: red;
    -webkit-transform: rotate(45deg);
  }
  &__arrow_up {
    transform: rotate(-135deg);
    margin-top: 23px;
    border-color: rgb(0, 226, 0);
    -webkit-transform: rotate(-135deg);
  }
}

.cartIcon {
  &__button {
    background: transparent;
    border: none;
  }
  &__backButton {
    color: white;
    border: 1px solid transparent;
    background: none;
  }

  &__amount {
    margin-top: -25px;
    margin-left: 162px;
    color: white;
    font-size: small;
  }
}

.cartStatus {
  font-size: 11px;
  color: white;
  display: inline-block;
  &__text {
    display: block;
    width: 120px;
  }
}

@media (min-width: 1370px) {
  .header__body {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .header__topCoins {
    display: none;
  }
  .cartStatus {
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  .header__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 1000;
  }
  .header__topCoins {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__left {
    margin-left: 5px;
  }
  .header__cart {
    margin-right: 5px;
  }
}

@media (max-width: 400px) {
  .cartStatus {
    visibility: hidden;
  }
  .cartIcon__amount {
    margin-top: -25px;
    margin-left: 170px;
    font-size: small;
  }
}
