.headerInnerContainer {
  display: flex;
  border-bottom: 1px solid purple;
  background-color: black;

  .logo {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
  }

  .appName {
    padding-top: 15px;
    margin: 0;
    color: rgb(155, 81, 204);
    font-size: medium;
  }
}

.textCoin {
  color: azure;
  font-size: 12px;
  margin: 0%;
}

.topCopinsContainer {
  margin-left: 3%;
  margin-top: 5px;
}

.cartButton {
  margin-left: 65%;
  background: transparent;
}
.coinNumberInCart {
  margin-top: 10px;
  color: white;
  font-size: small;
}
