h1 {
  font-size: 22px;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.modal {
  background-color: rgba(225, 225, 225, 0.45);
  width: calc(25% + 15vw);
  height: auto;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
.modalHeader {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.modalTitle {
  text-align: center;
}
.modalSubmit {
  background: rgba(69, 0, 230, 0.6);
  width: 200px;
  border: none;
  font-weight: 700;
  border-radius: 3px;
  color: #e6e6e6;
  margin: 7px 0 8px 8px;
  padding: 10px 14px 10px 8px;
  text-decoration: none;
}
.inputAmount {
  overflow-wrap: break-word;
  resize: none;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  color: #172b4d;
  width: calc(10% + 15vw);
  font-size: 14px;
  font-weight: 900;
}
.inputAmount:focus {
  border: none;
  outline: none;
}
.closeModalIcon {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid transparent;
}
