body {
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: Tahoma, sans-serif;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
