$purple: rgb(117, 0, 92);

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  &__body {
    text-align: center;
    background-color: rgba(225, 225, 225, 0.9);
    width: calc(50% + 15vw);
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }

  &__name {
    margin-bottom: 5%;
    color: $purple;
    border-bottom: 1px solid #111;
  }

  &__closeButton {
    margin-left: 95%;
    background: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px;
    color: $purple;
  }

  &__closeButton:active {
    background-color: $purple;
    color: #fff;
  }
}

.trend {
  width: 600px;
  margin-left: 1%;
  overflow-y: overlay;

  &__canvas {
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
  }
}

.infoContainer {
  display: flex;

  &__body {
    display: flex;
    flex-direction: row;
  }
  &__text {
    border-bottom: 1px dashed rgb(122, 122, 122);
  }
  &__modalSubmitBtn {
    background: $purple;
    width: 43px;
    height: 33px;
    border: none;
    font-weight: 700;
    border-radius: 3px;
    color: #e6e6e6;
    margin: 7px 0 8px 8px;
    padding: 10px 14px 10px 8px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
  }
  &__modalSubmitBtn:active {
    background: rgb(14, 3, 41);
  }
  &__modalSubmitBtn:disabled {
    background: rgba(1, 0, 3, 0.13);
  }
  &__inputAmount {
    overflow-wrap: break-word;
    resize: none;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    color: #172b4d;
    width: calc(1% + 11vw);
    font-size: 14px;
    font-weight: 900;
  }
  &__inputAmount:focus {
    border: none;
    outline: none;
  }

  &__error {
    margin-top: 1%;
    color: red;
    font-size: smaller;
    margin-bottom: 1%;
  }
}

@media (min-width: 1900px) {
  .modal__body {
    height: 90vh;
    width: 80vw;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trend {
    width: 900px;
    margin-left: 1%;
    overflow-y: overlay;
  }
  .canvas {
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
  }
}

@media (max-width: 1100px) {
  .modal__body {
    height: 80vh;
  }
  .infoContainer {
    display: block;
  }
  .infoContainer__sidebar {
    margin: 0 auto;
  }
  .trend {
    margin: 0 auto;
    width: auto;
  }
}

@media (max-width: 800px) {
  .modal {
    &__body {
      height: 80vh;
      width: 90%;
      padding: 3px;
    }
    &__name {
      font-size: small;
    }
    &__closeButton {
      margin-top: 1%;
      margin-left: 85%;
    }
  }

  .infoContainer__inputAmount {
    width: 20%;
  }
  .trend {
    margin-top: 1%;
    width: 100%;
  }
  .canvas {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
  }
  .infoContainer__subHeader {
    font-size: smaller;
  }
}
@media (max-width: 350px) {
  .modal__body {
    height: 95%;
  }
  .infoContainer__text {
    font-size: small;
  }
  .modal__closeButton {
    margin-left: 80%;
    margin-top: 25px;
  }
  .trend {
    margin-top: 0;
  }
}

@media (max-height: 800px) and (orientation: landscape) {
  .modal__body {
    padding: 10px;
  }
  .modal__closeButton {
    margin-left: 80%;
  }
  .infoContainer {
    display: flex;

    &__text {
      font-size: smaller;
    }

    &__error {
      font-size: x-small;
    }

    &__inputAmount {
      height: 10%;
      width: 80px;
      font-size: smaller;
    }
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  .modal__body {
    height: 90vh;
  }
  .modal__closeButton {
    margin-top: 20px;
  }
  .infoContainer__text {
    font-size: x-small;
  }
  .infoContainer__inputAmount {
    width: 40px;
  }
}
